/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

h1 {
    @apply text-white font-semibold text-4xl
}

.btn {
    @apply uppercase text-white font-bold shadow text-xs px-4 py-2 rounded outline-none mb-1
}
.btn:active {
    @apply bg-pink-600
}
.btn:hover {
    @apply shadow-md
}
.btn:focus {
    @apply outline-none
}

.btn-primary {
    @apply bg-purple-800
}

.btn-secondary {
    @apply bg-teal-500
}

.btn-tertiary {
    @apply bg-gray-800
}

.btn-positive {
    @apply bg-green-500
}

.btn-danger {
    @apply bg-red-700
}

.btn-black {
    @apply bg-black
}

.input-style {
    @apply px-4 py-2 text-gray-700 bg-white rounded text-sm shadow;
}

.input-style:focus {
    @apply outline-none;
}

.content-container {
    @apply relative flex flex-col min-w-0 break-words bg-gray-300 w-full mb-6 shadow-xl rounded-lg
}
.nav-link {
    @apply w-full bg-transparent text-gray-800 text-xs font-bold uppercase px-4 py-4 outline-none text-left
}
.nav-link:active {
    @apply bg-gray-100
}
.nav-link:focus {
    @apply outline-none
}

.job-listing:first-of-type {
    @apply rounded-t-lg;
}

.job-listing {
    @apply bg-white w-full border border-b-0 border-gray-400 p-4;

    border-left:4px solid rgb(81, 60, 127);
}

.job-listing:last-of-type {
    @apply rounded-b-lg border-b;
}

.job-listing:hover {
    @apply bg-gray-200;

    border-left:4px solid rgb(201, 67, 126);
}

.vacancy-detail,
.vacancy-editor .ql-editor {
    @apply text-xs;
}

.vacancy-detail p,
.vacancy-editor .ql-editor p {
    @apply pb-5;
}

.vacancy-detail-heading,
.vacancy-detail h1,
.vacancy-editor .ql-editor h1,
.vacancy-detail h2,
.vacancy-editor .ql-editor h2,
.vacancy-detail h3, 
.vacancy-editor .ql-editor h3,
.vacancy-detail h4, 
.vacancy-editor .ql-editor h4,
.vacancy-detail h5,
.vacancy-editor .ql-editor h5 {
    @apply text-purple-700 font-semibold text-base mt-5 mb-3;
}

.vacancy-detail ul,
.vacancy-editor .ql-editor ul {
    @apply relative list-none;
}

.vacancy-detail ul li,
.vacancy-editor .ql-editor ul li {
    @apply relative mt-0 mr-0 mb-4 ml-5 list-none;
}

.vacancy-detail ul li::before,
.vacancy-editor .ql-editor ul li::before {
    @apply inline-block float-left bg-purple-700 rounded-sm mt-2 mr-0 mb-0 -ml-5 w-2 h-2;

    content: "";
}

@screen sm {
    .btn { 
        @apply mr-2 
    }
}

@screen md {
    h1 {
        @apply text-5xl
    }
}

@screen lg {
    .nav-link {
        @apply w-auto bg-white rounded shadow mr-1 mb-0 ml-3 py-2
    }
    .nav-link:hover {
        @apply shadow-md
    }
    .profile-image {

        border-top-right-radius: 0;
        border-bottom-left-radius: 0.5em;
    }
}