.profile-image {
    width: 100%;
    height: auto;
    min-height: 250px;
    background-color: #FFF;
    background-size: contain;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.ql-editor { height:300px !important; }